<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><b> <%= listing.title %> </b></h3>
  </div>
  <div class="card col-6 offset-3 show-card listing-card">
    <img
      class="card-img-top show-img"
      src="<%= listing.image.url %>"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <i>Owned By : <b> <%= listing.owner.username%> </b></i>
      </p>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">
        &#36; <%= listing.price.toLocaleString('en-US') %>
      </p>
      <p class="card-text"><%= listing.location %></p>
      <p class="card-text"><%= listing.country %></p>
    </div>
  </div>
  <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
  <div class="btns">
    <a
      href="/listings/<%=listing._id%>/edit"
      class="btn btn-dark edit-btn col-1 offset-3"
      >Edit</a
    >
    <form method="post" action="/listings/<%=listing._id%>?_method=delete">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <% } %>
  <div class="col-8 offset-3 mb-3">
    <hr />
    <% if(currUser){ %>

    <h4>Leave a Review</h4>
    <form
      method="post"
      action="/listings/<%= listing.id%>/reviews"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="review[rating]"
          id="rating"
          min="1"
          max="5"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          id="comment"
          name="review[comment]"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>

    <hr />
    <% } %>

    <p><b>All Reviews</b></p>
    <div class="row">
      <% for(review of listing.reviews) { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="card-text"><%= review.comment%></p>
          <p class="card-text"><%= review.rating%> Stars</p>
        </div>
        <form
          class="mb-3"
          method="post"
          action="/listings/<%=listing._id%>/reviews/<%= review._id%>?_method=delete"
        >
          <button class="btn btn-dark btn-sm">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
  </div>
</div>
